.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

body{
	text-align: center;
//	background-image: url(/img/bg.jpg);
  background-size: cover;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #30476d;
  font-weight: bold;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.container {
  margin: 0 auto 0 auto;
  width: 960px;
}

button {
  background-color: rgba(32, 46, 71, 0.7);
  border: 1px solid #000;
  color: #fff;
  height: 45px;
  width: 150px;
}
#gameclock, #jackpotclock{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#gameclockd > div, #jackpotclock > div {
	padding: 10px;
	border-radius: 3px;
	background-color: rgba(32, 46, 71, 0.7);
	display: inline-block;
}

#gameclock div > span, #jackpotclock div > span{
	padding: 15px;
	border-radius: 3px;
	background-color: rgba(107, 126, 158, 0.7);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}


#buybox {
	margin: 0 auto 0 auto;
	width: 500px;
}

#pricebox {
	margin: 0 auto 0 auto;
}

.price {
	width: 250px;
}
